<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.picture %>);">
  <div class="container">
<h1>Mes films <b><%= @list.name %></b></h1>

  </div>
</div>
<div class="container">
<div class="flex-row">
  <div class="justify-content-right m-4">

 <%= link_to 'Add movie', new_list_bookmark_path(@list), class:"btn btn-success" %>

  <%= link_to 'Edit List', edit_list_path(@list), class:"btn btn-outline-warning" %>
  </div></div>
  <div class="cards m-3">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(movie_id: movie.id, list_id: @list.id) %>


<div class="card-trip">
  <img src="<%= movie.poster_url %>" />
  <div class="card-trip-infos">
    <div>
      <div class="d-flex justify-content-between align-middle m-1">
      <div>
      <h2><%= movie.title %></h2>
      <%= bookmark.id %>
      </div>
      <div>
      <h2><i class="fa-solid fa-star text-warning"></i> <%= movie.rating %></h2>
      </div>
      </div>
      <p><%= movie.overview %></p>
      <div class="d-flex justify-content-between align-middle m-1 align-items-baseline">
      <div class="fst-italic"><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %></div>
      <div class="d-flex" style="gap:10px">
      <div class="delete"> <%= link_to 'delete', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"text-decoration-none text-danger" %></div>
      <div class="delete"> <%= link_to 'edit', edit_list_bookmark_path(@list.id, bookmark.id), class:"text-decoration-none text-success" %></div>
      </div>
      </div>
 </div>
  </div>

</div>
    <% end %>
  </div>

</div>
